.navbar{
  margin-left: 20%;
  margin-right: 20%;
  border-radius: 15px 15px 40px 40px;
}

.navbar,
.navbar > ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 60vw;
  background-color: rgba(217, 217, 217, 0.10);


}

.navbar > ul {
  justify-content: space-around;
  list-style: none;
}

.navbar-toggler{
  color: rgb(243 242 242 / 97%);
  background-color: rgba(217, 217, 217, 0.10);
}

/* .link {
  text-decoration: none;
  color: rgb(0, 105, 197);
  padding: 10px;
} */

/* .link:hover{
  background-color: rgb(3, 75, 255);
  opacity: 0.8;
  color: yellow;
} */